.customer {
  &__title {
    @include font(null, 36px, 1.17, null);
    text-align: center;
    margin-bottom: 50px;
    color: $color-second;
  }
  &__list {
    @include display(flex, null, null);
    margin-left: $margin-section-minus;
  }
  &__item {
    width: calc(100% / 6 - 30px);
    margin-left: $margin-between;
  }
  &__navigation {
    fill: $color-icon-svg;
    padding: 16px 32px;
    border: 1px solid $color-icon-svg;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    transition: fill $time-transition $cubic-bezier,
      border-color $time-transition $cubic-bezier;
    &:hover,
    &:focus {
      border-color: $color-logo-focus;
      fill: $color-logo-focus;
    }
  }
}
