.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.navigation {
  @include display(flex, center, null);
  &__logo {
    font-family: "Raleway";
    @include font(700, 26px, 1.2, null);
    color: $logo-header-color;
    text-decoration: none;
    margin-right: 93px;
  }
  &__web {
    color: $color-logo-focus;
  }
}
/* header list */
.header__container {
  @include display(flex, center, null);
}
.sitenav-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  &__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color $time-transition $cubic-bezier;
    @include font(500, null, 1.14, 0.02em);
    color: $color-second;
    &.current {
      color: $color-logo-focus;
    }
    &.current::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      left: 0;
      bottom: 0;
      background-color: $color-logo-focus;
    }
    &:hover,
    &:focus {
      color: $color-logo-focus;
    }
  }
  &__item {
    @include font(500, null, 1.14, 0.02em);
    color: $color-second;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
}
.contact-list {
  margin-right: 0;
  margin-left: auto;
  list-style: none;
  text-decoration: none;
  display: flex;
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__mail,
  &__tel {
    @include font(500, null, 1.14, 0.02em);
    @include display(flex, center, center);
    color: $color-first;
    fill: $color-first;
    transition: color $time-transition $cubic-bezier;
    &:hover,
    &:focus {
      color: $color-logo-focus;
    }
  }
  &__iconmail,
  &__icontel {
    margin-right: 10px;
    transition: fill $time-transition $cubic-bezier;
  }
  &__mail:hover &__iconmail,
  &__mail:focus &__iconmail,
  &__tel:hover &__icontel,
  &__tel:focus &__icontel {
    fill: $color-logo-focus;
  }
}
